@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: white;
    color: rgb(61,69,79);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 32px;
    margin-top: 148px !important;
    margin-bottom: 32px !important;
    font-weight: 700;
}

.headline {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 48px;
    padding-bottom: 32px;
    gap: 32px;
}

.logo {
    height: 128px;
}

.inputfield {
    width: 50vw !important;
    height: 50px;
    margin-bottom: 32px;
}

.inputfield::placeholder {
    text-align: center;
}

.back-button {
    position: absolute;
    height: 32px;
    left: 25px;
    top: 70px;
    padding-left: 16px;
    cursor: pointer;
    transition: 75ms;
}

.back-button:hover {
    
    opacity: 0.7;
}

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
    gap: 16px;
}
.card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 256px !important;
    height: 200px !important;
    background-color: rgba(55, 58, 57, 0.7) !important;
    border-color:rgba(255, 255, 255, 0.4) !important;
    border-radius: 20px !important;
    z-index: 2;
    padding: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 75ms;
}

.card:hover {
    opacity: 0.85;
}

.card-bg {
    z-index: 1;
    width: 256px !important;
    height: 200px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('img/buttons/pokeball.svg');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: bottom -25px right -20px;
    opacity: 0.5;
    filter: brightness(100%) invert(1) opacity(45%);
}

.card-headline {
    color: rgba(245, 245, 245, 0.9);
    font-weight: bold;
    margin-left: 16px;
    margin-top: 8px;
    opacity: 1 !important;
    font-size: 22px;
}

.card-index {
    display: flex;
    justify-content: space-between;
}

.card-index h4 {
    color: white;
    opacity: 0.3;
    margin-right: 4px;
    font-size: 16px;
}

.card-undersection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-undersection-img {
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-undersection-img img {
    height: 125px;
    max-width: 125px;
    filter: drop-shadow(2px 3px 7px whitesmoke);
}

.info-section {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 32px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(245, 245, 245, 0.9);
    font-size: 14px;
}

.info-bar:empty {
    display: none;
}

.red {
    background-color: rgb(251,108,108) !important;
}

.green {
    background-color: rgb(72,208,176) !important;
}

.blue {
    background-color: rgb(118,189,254) !important;
}

.yellow {
    background-color: rgb(248, 201, 73) !important;
}

.orange {
    background-color: #d3b76b !important;
}

.grey {
    background-color: rgb(180, 180, 180) !important;
}

.lila {
    background-color: rgb(183, 143, 230) !important;
}

.brown {
    background-color: rgb(146, 137, 113) !important;
}

.pink {
    background-color: pink !important;
}

.darkred {
    background-color: darkred !important;
}

.mint {
    background-color: rgb(175, 221, 197) !important;
}

.lightgrey {
    background-color: lightgrey !important;
}

.white {
    background-color: rgb(136, 136, 136) !important;
}

.lightblue {
    background-color: lightsteelblue;
}

.darkyellow {
    background-color: rgb(212, 212, 79) !important;
}

.none {
    display: none;
}

.info-card {
    height: 100vh;
    width: 100vw;
    font-size: 32px;
}

.info-card-headline {
    display: flex;
    flex-direction: column;
}

.info-card-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 32px;
    margin-top: 8px;
}

.i-c-h-undersection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    padding-right: 32px;
    padding-left: 16px;
}

.i-c-h-undersection div {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.cardAbove {
    width: 100%;
    height: 65%;
    background-color: rgba(55, 58, 57, 0.7);
}

.invert {
    filter: invert(1);
}

.bigImg-section {
    display: flex;
    justify-content: center;
}

.bigImg {
    position: relative;
    z-index: 5;
    background-color: transparent;
    max-height: 256px;
    max-width: 256px;
    margin-top: 36px;
    padding-bottom: 16px;
}

.cardBelow {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 2;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;

}

.infocard-below-headline {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}

.infocard-below-headline a {
    text-decoration: none;
    color: rgb(138, 138, 138);
    cursor: pointer;
}

.infocard-below-headline a:hover {
    border-bottom: 2px solid blue;
    padding-bottom: 16px;
}

.bold {
    font-weight: bold;
    color: black !important;
    border-bottom: 2px solid blue;
    padding-bottom: 16px;
}

.infocard-about {
   margin-top: 16px; 
   font-size: 18px;
}

.gray {
    color: rgb(138, 138, 138);
    font-weight: bold;
    padding-right: 16px;
}

.mg-8 {
    margin-bottom: 8px;
}

.mg-16 {
    padding-top: 32px;
}

.chart-style {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 48px;
    padding-top: 16px;
}


.d-none {
    display: none;
}

@media (min-width: 900px) {
    .back-button {
        left: 280px
    }
    .infocard-headline {
        margin-left: 280px;
    }
    .mg-270 {
        margin-left: 270px;
    }
    .i-c-h-undersection div {
        margin-right: 280px;
    }
}

@media (max-width: 590px) {
    .logo {
        height: 100px;
    }
}

@media (min-height: 810px) and (max-height: 900px) {
    .bigImg {
        max-height: 220px;
    }
}

@media (max-height: 810px) {
    .bigImg {
        max-height: 148px;
        padding-bottom: 20px;
    }
}

@media (max-height: 680px) {
    .bigImg {
        max-height: 178px;
        padding-bottom: 120px;
    }
}